.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 0px 16px var(--color-shadow);
  color: var(--color-on-surface);
  background-color: var(--color-surface);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer__section {
  padding: 1rem;
}

.footer__ul {
  margin-top: 0.5rem;
  list-style-type: none;
}

.footer__link {
  color: var(--color-primary);
  text-decoration: none;
}

.footer__link:is(:hover, :focus) {
  text-decoration: underline;
}