.cart-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0px 0px 8px var(--color-shadow);
}

.cart-details__h2 {
  line-height: 1;
  color: var(--color-primary);
}

.select-all {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  border: 0.25rem solid var(--color-outline);
  padding: 1rem;
  font-weight: bold;
  box-shadow: 0px 0px 8px var(--color-shadow);
  color: var(--color-primary);
  background-color: rgba(201, 190, 255, 0.05);
}

.select-all__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.select-all__input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--color-primary);
}

.select-all__button {
  border: none;
  color: var(--color-primary);
  background-color: transparent;
  cursor: pointer;
}

.cart-details__ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

.cart-details__li:has(.cart-details__input:is(:hover, :focus)) {
  filter: brightness(120%);
}

.cart-details__li:has(.cart-details__input:checked) {
  filter: brightness(160%);
}

.cart-details__input {
  position: absolute;
  opacity: 0;
}

.cart-details__label {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 0.25rem solid var(--color-outline);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 8px var(--color-shadow);
  color: var(--color-on-surface);
  background-color: rgba(201, 190, 255, 0.05);
}

.cart-details__small-container {
  flex-grow: 1;
}

.cart-details__img {
  width: 5rem;
  border-radius: 1rem;
}

.cart-details__h3 {
  color: var(--color-primary);
}

.cart-details__p-total {
  font-weight: bold;
}

.cart-details__link {
  margin-right: 1rem;
  font-weight: bold;
  color: var(--color-primary);
  text-decoration: none;
}

.cart-details__link:is(:hover, :focus) {
  text-decoration: underline;
}