/* || PRODUCT */
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 3rem 2rem;
  color: var(--color-on-surface);
  background-color: var(--color-surface);
}

.product__container {
  flex-basis: min(36rem, 100%);
}

.product__icon {
  width: 1.25rem;
}