.error-blockquote {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-left: 4px solid var(--color-on-error-container);
  padding: 0.25rem;
  font-size: 0.85rem;
  color: var(--color-on-error-container);
  background-color: rgb(147, 0, 10, 0.8);
}

.error-blockquote__img {
  width: 1.25rem;
}